<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Spring-Boot</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
	
</head>
<body>
	<header>
		<div>header</div>
	</header>
	
	<div>
		<aside>
			<nav>
				<span>menu</span>
			</nav>
		</aside>
		
		<section layout:fragment="content">
			<div>conteudo principal das páginas</div>
		</section>
	</div>
	
	<footer th:replace="fragments/footer :: rodape">
		<div>footer</div>
	</footer>
</body>
</html>